{{extend 'layout.html'}}
<script src="{{=URL('static','js/fasta.js')}}"></script>


<div class="container-fluid">

     <h1>Algorytm FASTA</h1>
<br />
	
	
	
	
    
    <div class="row">
        
        <div class="col-md-5">
            
                


{{=form}}
			
			</br>
    <label class="col-sm-2 control-label">Macierz podobieństwa:</label>
        </br></br>
<table class="similarityMatrix table table-bordered table-condensed table-hover table-striped" >
    <thead style="text-align:center;">
        <tr>
            <th><span class="glyphicon glyphicon-random"></span></th>
            <th>A</th>
            <th>G</th>
            <th>C</th>
            <th>T</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>A</th>
            <td>10</td>
            <td>-1</td>
            <td>-3</td>
            <td>-4</td>
        </tr>
        <tr>
            <th>G</th>
            <td>-1</td>
            <td>7</td>
            <td>-5</td>
            <td>-3</td>
        </tr>
        <tr>
            <th>C</th>
            <td>-3</td>
            <td>-5</td>
            <td>9</td>
            <td>0</td>
        </tr>
        <tr>
            <th>T</th>
            <td>-4</td>
            <td>-3</td>
            <td>0</td>
            <td>8</td>
        </tr>
    </tbody>
</table>
<div id="buttonPlace" class="col-md-offset-2"></div>

<br />
<h4>
	Baza fragmentów DNA:
</h4>

<div class="dataBase"><ul>
		{{for sequence in db:}}
		<li>{{=sequence}}</li>
		{{pass}}
	</div></ul>

<br />
		</div>
	</div>
