{{extend 'layout.html'}}
{{wynik=d}}
<script src="{{=URL('static','js/smithWaterman.js')}}"></script>

<div class="container-fluid">

     <h1>Algorytm Smith'a-Waterman'a <span class="glyphicon glyphicon-tint"></span></h1>
<br />
    
    <div class="row">
        
        <div class="col-md-5">
            
                


{{=form}}



</br>

		{{if len(wynik) > 0:}}
		    <label class="col-sm-2 control-label">Macierz podobieństwa:</label>
        </br></br>
<table class="similarityMatrix table table-bordered table-condensed table-hover table-striped" >
    <thead style="text-align:center;">
        <tr>
            <th><span class="glyphicon glyphicon-random"></span></th>
            <th>A</th>
            <th>G</th>
            <th>C</th>
            <th>T</th>
        </tr>
    </thead>
    <tbody>
		{{smalliter = 1}}
	    {{iterMatrix = "AGCT"}}
		{{for letter in iterMatrix:}}
		<tr>
			<th>{{=letter}}</th>
				{{for _helper in iterMatrix:}}
				{{if letter==_helper:}}
				<td>{{=request.vars.match}}</td>
				{{else:}}
				<td>{{=request.vars.mismatch}}</td>
				{{pass}}
			{{pass}}
		</tr>
		{{pass}}
    </tbody>
</table>
		
		{{pass}}

<div id="buttonPlace" class="col-md-offset-2"></div>


        </div>
		

		
        {{if len(wynik) == 3 and request.vars.iters != '3':}}
		<div class="col-md-5">
            <h3>
                Wynik dopasowania:
            </h3>
			<table class="outputTable table table-bordered table-condensed table-striped" style="text-align:center;">
				<tr>
					{{for letter in wynik[1]:}}<td><div>{{=letter}}</div></td>{{pass}}
				</tr>
				<tr>
					{{for letter in wynik[2]:}}<td><div>{{=letter}}</div></td>{{pass}}
				</tr>					
			</table>
			
			<!--TABELA Z WYIKIEM DUZA!-->
			
			<table class="outputTable greenTable table table-bordered table-striped">
				
				<tr>
					<th><span class="glyphicon glyphicon-resize-full"></span></th>
					<th><span class="glyphicon glyphicon-arrow-right"></span></th>
					{{for letter in request.vars.seqB:}}<th>{{=letter}}</th>{{pass}}
				</tr>
				<tr>
					<th><span class="glyphicon glyphicon-arrow-down"></span></th>
					{{for letter in ((request.vars.seqB+'x')):}}<th>0</th>{{pass}}
				</tr>
				{{iterator=-1}}
				{{for letter in request.vars.seqA:}}
				{{iterator = iterator + 1}}
				<tr>
					<th>{{=letter}}</th>
					<th>0</th>
					{{for value in wynik[0][iterator]:}}<td>{{=value}}</td>{{pass}}
				</tr>
				{{pass}}
				
			</table>
			
			

        </div>
		{{elif len(wynik) > 0 and request.vars.iters != '-1':}}
		<div class="col-md-5">
			
			<h3>
				Krok {{=request.vars.iters}}:				
			</h3>
			
			{{i=1}}			
			{{for val in wynik:}}
			{{name = 'values' + str(i)}}
			{{=INPUT(_id=name, _name=name, _value=val, _type='hidden')}}
			{{i=i+1}}			
			{{pass}}
			
			<table id="stepTable" class="outputTable greenTable table table-bordered outputMatrix">
				
				<tr>
					<th><span class="glyphicon glyphicon-resize-full"></span></th>
					<th><span class="glyphicon glyphicon-arrow-right"></span></th>
					{{for letter in request.vars.seqB:}}<th>{{=letter}}</th>{{pass}}
				</tr>
				<tr>
					<th><span class="glyphicon glyphicon-arrow-down"></span></th>
					{{for letter in ((request.vars.seqB+'x')):}}<th>0</th>{{pass}}
				</tr>
				{{currid=0}}
				{{for letter in request.vars.seqA:}}
				
				<tr>
					<th>{{=letter}}</th>
					<th>0</th>
					{{for letter in request.vars.seqB:}}{{currid = currid + 1}}<td id="cell{{=currid}}"></td>{{pass}}
				</tr>
				{{pass}}
				
			</table>
			
		</div>
		{{else:}}{{pass}}

    </div>

</div>

<br /><br />
