/* algorithm css*/
table.similarityMatrix {
    text-align:center;
    width:200px;
}

table.similarityMatrix th{
    background-color:#337ab7;
}

table.algorithmMatrix {
    height:400px;
    width:400px;
}

table.algorithmMatrix th{
    background-color:#5cb85c;
}
