/* algorithm css*/
table.similarityMatrix {
    text-align:center;
    width:200px;
}

table.similarityMatrix th{
    background-color:#337ab7;
	text-align:center;
}

table.algorithmMatrix {
    height:400px;
    width:400px;
}

table.algorithmMatrix th{
    background-color:#5cb85c;
	
}

nonValidate {
    border-color:red;
}

.similarityMatrix{
	table-layout:fixed;
	/*width:400px;*/
}

.similarityMatrix .down {
  top: -10px;
  left: 6px;
}

.similarityMatrix .down-right {
  -webkit-transform: rotate(45deg);
  left: -24px;
  top: -10px;
}

.similarityMatrix .right {
  left: -24px;
  top: 50%;
  margin-top: -7px;

.similarityMatrix .glyphicon {
  position: relative;
}
